* {
    margin: 0;
    padding: 0;
}

html#chart1 {
    height: 100%;
    overflow: hidden;
}

body#chart1 {
    font-family: Arial, Helvetica, sans-serif;


    .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    .office-icon {
        background: url('../images/office.svg') 100% no-repeat;

    }

    .industry-icon {
        background: url('../images/industry.svg') 100% no-repeat;

    }

    .park-icon {
        background: url('../images/park.svg') 100% no-repeat;

    }

    .retail-icon {
        background: url('../images/retail.svg') 100% no-repeat;

    }

    .chart1-datas-holder {
        width: 50%;
        height: 360px;
        align-items: center;
        display: flex;
        padding-left: 60px;
        box-sizing: border-box;

        .data-holder {
            margin-left: 25px;
            white-space: nowrap;
        }
    }

    .name {
        font-family: 'Times New Roman', Times, serif;
        color: #f6f5f1;
        font-size: 46px;
        font-style: italic;
    }

    .data-count {
        color: #e30613;

        font-size: 60px;
    }

    .data-area {
        color: #e30613;
        font-size: 38px;
    }

}