* {
    margin: 0;
    padding: 0;
}

#qt-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    height: 305px;

    svg {
        width: 175px;
        height: 100px;
        transform: scaleY(.95);
        margin-top: -9px;
    }

    .title-holder {
        display: flex;
        width: 100%;

        p {
            width: 25%;
            color: #fff;
            text-align: center;
            font-size: 20px;
            padding: 10px;
            margin-top: -7px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}