table {
    font-family: Arial, Helvetica, sans-serif;

    td {
        width: 50px;
        font-size: 12px;
        text-align: center;
        padding: 2px 5px;
    }

    thead {
        background: #00DEFF;
    }

    tbody {
        td {
            padding: 4px 5px;
        }
    }

    .col-item {
        background: #FFA820;
        width: 100px;
    }
}

#table-info {


    .active {
        background: #00E59A;
    }
}