* {
    margin: 0;
    padding: 0;
}

body#news {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    #news-container {
        height: 380px;
        // overflow: hidden;
    }

    .news-holder {
        margin: auto;
        padding: 20px 30px;

        h3 {
            font-size: 38px;
            color: #00e59a;
        }

        .time {
            font-size: 32px;
            color: #00ffff;
        }

        p {
            margin-top: 10px;
            font-size: 32px;
            color: #fff;
        }
    }
}