* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index-html {
    background-color: rgba(5, 11, 32, 1);
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

#index-body {
    background-color: rgba(5, 11, 32, 1);
    font-family: Arial, Helvetica, sans-serif;

    .base-holder {
        width: 3840px;
        height: 1080px;
        background: radial-gradient(circle, rgba(0, 50, 120, 1) 0%, rgba(5, 11, 32, 1) 100%);
        position: relative;
    }

    .transaction {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 1005px;
        top: 240px;

        h3 {
            color: #fff;
            font-size: 41px;
        }

        p {
            font-size: 56px;

            &.transaction-count-holder {
                color: #00ffff;
            }

            &.transaction-area-holder {
                color: #00e59a;
            }
        }

    }

    .logo {
        position: absolute;
        left: 1005px;
        top: 45px;
        width: 488px;
        height: 117px;
        background: url('../images/logo-05.png') 100% no-repeat;
    }

    .time {
        height: 63px;
        position: absolute;
        left: 2325px;
        top: 69px;
        color: #fff;
        font-size: 58px;
    }

    .map-holder {
        width: 930px;
        height: 900px;
        left: 1377px;
        top: 30px;
        position: absolute;
    }

    .screen-holder {
        position: absolute;
        width: 888px;
        height: 490px;
        left: 36px;
        top: 25px;

        .screen-holder-in {
            position: relative;
            width: 888px;
            height: 68px;

            .screen-title {
                background: linear-gradient(90deg, rgba(0, 78, 157, 1) 0%, rgba(0, 78, 157, 0) 100%);
                padding-left: 20px;

                p {
                    font-size: 53px;
                    color: #00DEFF;
                }
            }

            .screen-data-holder {

                position: absolute;
                left: 0;
                top: 78px;
                height: 410px;
                width: 888px;
                background: url('../images/dataBorder.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;

                .screen-data-holder-in {
                    position: relative;
                    height: 100%;

                    iframe {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }
                }
            }
        }

        &.data-2 {
            top: 564px;
        }

        &.data-3 {
            left: 2908px;
        }

        &.data-4 {
            left: 2908px;
            top: 564px;
        }

        &.data-small-1 {
            left: 990px;
            top: 666px;
            height: auto;

            .screen-holder-in {
                width: 894px;
            }

            .screen-data-holder {
                height: 312px;
                width: 894px;
            }
        }

        &.data-small-2 {
            width: 498px;
            height: 278px;
            left: 2354px;
            top: 239px;

            .screen-holder-in {
                width: 498px;
            }

            .screen-data-holder {
                height: 203px;
                width: 498px;
            }
        }

        &.data-small-3 {
            width: 596px;
            height: 231px;
            left: 2255px;
            top: 567px;

            .screen-holder-in {
                width: 596px;
            }

            .screen-data-holder {
                height: 156px;
                width: 596px;
            }
        }

        &.data-small-4 {
            width: 596px;
            height: 231px;
            left: 2255px;
            top: 823px;

            .screen-holder-in {
                width: 596px;
            }

            .screen-data-holder {
                height: 156px;
                width: 596px;
            }
        }
    }
}