* {
    // margin: 0;
    // padding: 0;
}

body#logos .logos-img-holder {
    width: 462px;
    height: 198px;
    margin: auto;
    margin-top: 12px;
    background: url('../images/logos.png') no-repeat;
    background-size: cover;
}